body{
	/*background-color: #B8860B*/
  background-image:url("food.png")
  
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 25px;
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 40px;
  font-family: 'Playfair Display', serif;
}

.warning {
  border-color: #ff9800;
  color: orange;
}
.warning a{
    color:orange;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
.warning:hover {
  background:black;
  color: white;
}
.first{
  width:100px;
  height:100px;
  margin-left: 20px;
  margin-top: 10px;
}

form{
	border: 1px solid #bdc3c7;
	width:60%;
	max-width: 700px;
	padding: 20px;
	background-color: white;
	margin:auto auto;
	text-align: center;
  font-family: 'Playfair Display', serif;
}

.form-input {
  font-family: 'Raleway', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 50%;
  border: 2px;
  border-color:#bdc3c7; 
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}



hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1{
	font-family: 'Playfair Display', serif;
  color:#A9A9A9; 
}

button {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  outline: 0;
  background:  #B8860B;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

a{
	color: #B8860B
}


button:hover,.form button:active,.form button:focus {
  background:  #A9A9A9;
}


/*#4CAF50
#ff3333*/

/*font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/